################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ASP.NET/Lab1/WebMVCR1/.vs/ProjectEvaluation
/.vs
/C#-2
/Lab9/obj
/ASP.NET/Lab1/WebMVCR1/.vs/WebMVCR1
/ASP.NET/WebAppStitch/.vs
/ASP.NET/WebAppStitch/Stitch.Bll/obj
/ASP.NET/WebAppStitch/Stitch.Bll/bin/Debug/net8.0
/ASP.NET/WebAppStitch/Stitch.Core/bin/Debug/net8.0
/ASP.NET/WebAppStitch/Stitch.Core/obj
/ASP.NET/WebAppStitch/Stitch.Dal/bin/Debug/net8.0
/ASP.NET/WebAppStitch/Stitch.Dal/obj
/ASP.NET/WebAppStitch/WebAppStitch/bin/Debug/net8.0
/ASP.NET/WebAppStitch/WebAppStitch/Data/Migrations
/ASP.NET/WebAppStitch/WebAppStitch/Data/DataContext.cs
/ASP.NET/WebAppStitch/WebAppStitch/obj
/ASP.NET/WebAppStitch/WebAppStitch/Properties
/ASP.NET/WebAppStitch/WebAppStitch/wwwroot/lib/jquery
/ASP.NET/WebAppStitch/WebAppStitch/wwwroot/lib/jquery-validation
/ASP.NET/WebAppStitch/WebAppStitch/wwwroot/lib/jquery-validation-unobtrusive
/WebAppStitch/.vs
/WebAppStitch/Stitch.Bll/bin/Debug/net8.0
/WebAppStitch/Stitch.Bll/obj
/WebAppStitch/WebAppStitch/Data/Migrations
/WebAppStitch/WebAppStitch/Migrations
/WebAppStitch/WebAppStitch/Data/DataContext.cs
/WebAppStitch/WebAppStitch/obj
/WebAppStitch/WebAppStitch/Properties
/WebAppStitch/WebAppStitch/wwwroot/lib/jquery
/WebAppStitch/WebAppStitch/wwwroot/lib/jquery-validation
/WebAppStitch/WebAppStitch/wwwroot/lib/jquery-validation-unobtrusive
