################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ASP.NET/Lab1/WebMVCR1/.vs/ProjectEvaluation
/.vs
/C#-2
/Lab9/obj
/ASP.NET/Lab1/WebMVCR1/.vs/WebMVCR1
